@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --animate-shimmer: shimmer 2.5s infinite linear;

  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 5px;
  border: 2px solid #050505; 
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; 
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 50px 50px;
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  }
}