@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505; 
}

::-webkit-scrollbar-thumb {
  background: #334155; /* Slate-700 */
  border-radius: 5px;
  border: 2px solid #050505; /* Crea un margen visual */
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Blue-500 al pasar el mouse */
}